* {
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgba(0, 0, 0, 0.08);
}

a {
	text-decoration: none;
}

.navbar {
	padding: 1rem 2rem;
	background-color: white;
	box-shadow: 0 0.05rem 0.7rem 0 rgba(0, 0, 0, 0.2);
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999;
}

main {
	margin-top: 4rem;
}

.header-container {
	width: 85%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar nav {
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

.navbar nav a {
	font-weight: 600;
	font-size: 1rem;
	color: rgb(30, 102, 178);
}

.navbar nav a:hover {
	color: rgb(17, 60, 106);
}

.navbar .btn {
	background-color: rgb(30, 102, 178);
	color: white;
	padding: .7rem 1rem;
	border-radius: 0.2rem;
}

.navbar .btn:hover {
	background-color: rgb(17, 60, 106);
	color: white;
}

.logo {
	font-size: 1.4rem;
	color: black;
	font-weight: 700;
	letter-spacing: -1px;
}

.logo:hover {
	color: rgb(46, 46, 46);
}

.blog-posts {
	padding: 4rem 2rem;
}

.container {
	width: 85%;
	margin: auto;
}

.blog-posts h2 {
	font-size: 1.5rem;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.7);
	margin-bottom: 2rem;
}

.blog-posts .posts-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.2rem;
}

.post-card {
	background-color: white;
	border-radius: 0.7rem;
	transition: all 0.3s;
}

.post-card:hover {
	box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.3);
	transform: translateY(-0.5rem);
}

.post-card .post-card-header img {
	width: 100%;
	height: 10rem;
	object-fit: cover;
	border-top-left-radius: 0.7rem;
	border-top-right-radius: 0.7rem;
}

.post-card .post-card-body {
	padding: 1.2rem 1.6rem;
}

.post-card .post-card-body h3 {
	font-size: 1.4rem;
	font-weight: 700;
	margin-bottom: 0.6rem;
}

.post-card .post-card-meta {
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.6);
	line-height: 1.3;
	margin-bottom: 1.2rem;
}

.post-card .post-card-meta .author {
	font-style: italic;
	color: black;
	font-weight: 500;
}

.post-card .post-card-body .excerpt {
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1.4;
	margin-bottom: 0.8rem;
}

.post-card .post-card-body .btn {
	display: block;
	color: rgb(30, 102, 178);
	border: 2px solid rgb(30, 102, 178);
	text-align: center;
	border-radius: 0.3rem;
	font-size: 0.9rem;
	font-weight: 700;
	padding: 0.4rem;
	transition: all 0.3s;
}

.post-card .post-card-body .btn:hover {
	color: white;
	background-color: rgb(17, 60, 106);
	border: 2px solid rgb(17, 60, 106);
}
