/* body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* .box {
	background-color: red;
	border: 5px solid black;
	font-size: 50px;
	height: 100px;
	width: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
} */

/* .container {
	height: 50vh;
	background-color: yellow;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	gap: 20px;
	align-items: flex-start;
} */

/*
.box4 {
	flex-grow: 1;
	height: 140px;
	align-self: center;
}

.box6 {
	flex-grow: 2;
	height: 300px;
} */

/* .box1 {
	order: 10;
}

.box5 {
	order: 2;
} */

/* .box3 {
	height: 400px;
	font-size: 100px;
} */

/* .box2 {
	height: 200px;
}

.box3 {
	height: 400px;
	font-size: 100px;
}

.box5 {
	height: 70px;
}

.box6 {
	height: 190px;
	font-size: 10px;
} */
