body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
	background-color: red;
	border: 5px solid black;
	font-size: 50px;
	min-height: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
}

.box:hover {
	background-color: blue;
	transform: rotate(20deg);
	filter: blur(10px);
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	/* grid-template-columns: repeat(10, 1fr); */
	/* grid-template-rows: 1fr 2fr 1fr; */
	/* grid-template-areas:
		"header header header header"
		"left-sidebar main-content main-content right-sidebar"
		"footer footer . ."; */
	gap: 20px;
}

/* .box1 {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 5;
} */

/* .box2 {
	grid-area: left-sidebar;
}

.box3 {
	grid-area: main-content;
}

.box4 {
	grid-area: right-sidebar;
}

.box5 {
	grid-area: footer;
} */

@media print {
	.container {
		grid-template-columns: 1fr 1fr;
		display: none;
	}
}

@media screen and (min-width: 800px) {
	.container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 1000px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	/* body {
		background-color: blue;
	} */
}

@media screen and (min-width: 1200px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
