@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Micro+5&display=swap');

@font-face {
	font-family: 'scratchesregular';
	src: url('./assets/scratches-webfont.woff2') format('woff2'),
		url('./assets/scratches-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


/* body {
	background-color: aqua;
} */

/* * {
	border: 2px solid red;
} */
/*
.menu-item {
	border: 2px solid red;
}

.hello-world {
	background-color: yellow;
}

.menu-item.hello-world {
	font-size: 30px;
} */

/* #title {
	border: 20px solid red;
} */

/* li {
	border: 10px solid purple;
} */

/* h1.menu-item {
	border: 5px solid green;
} */


/* li,
p,
.menu-item {
	border: 5px solid red;
} */


/* ul>li {
	border: 2px solid red;
} */


/* h6+p {
	border: 3px solid red;
} */

/* [id] {
	border: 5px solid red;
} */
/*
[href="https://google.com"] {
	border: 5px solid red;
} */

/* [class*="llo"] {
	border: 5px solid red;
} */


/* .navbar {
	border: 10px solid red;
	border-color: green;
} */

/* .box { */
/* border-top: 10px solid red;
	border-bottom: 20px solid blue;
	border-left: 2px dashed green;
	border-right: 20px ridge green; */
/* border: 20px solid red; */
/* border-style: double; */
/* border-width: 10px 20px 40px 60px; */
/* border-top-width: 0px; */
/* border-color: rgba(24, 69, 172, 1); */
/* border-color: hsla(50, 80%, 60%, 1);
} */

/* .box:hover {
	border-color: hsla(50, 80%, 40%, 1);
} */

/* .box { */
/* background: lightgray url(./assets/1.jpeg) no-repeat center center/cover; */
/* background-color: lightblue; */
/* background-image: url(./assets/android-chrome-192x192.png), url(./assets/1.jpeg);
	background-repeat: repeat-x, no-repeat;
	background-position: center center;
	background-size: 130px, cover; */
/* background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.4), rgb(255, 255, 0, 0.4), white), url(./assets/1.jpeg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 400px;
	background-attachment: fixed;
	margin: 0 100px;
	border-radius: 10px; */
/* -webkit-background-clip: text; */
/* box-shadow: 0 0 0 10px red, inset 0 0 40px 20px black;
} */

/* .box h1 {
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 120px;
	text-align: center;
	letter-spacing: -6px;
} */

/* * {
	font-family: "Jacquarda Bastarda 9";
} */

* {
	/* color: red; */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* p {
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	text-transform: capitalize; */
/* text-decoration: underline; */
/* text-shadow: 2px 0 2px black;
	line-height: 1.3; */
/* word-spacing: 20px; */
/* text-align: justify;
} */

/* p,
span {
	background-color: red;
} */

/* em {
	display: inline-block;
	background-color: red;
	color: white;
	font-weight: 700;
	padding: 10px;
} */

/* .my-para {
	background-color: blue;
	color: white;
	padding: 20px;
	width: 200px;
	margin: auto;
} */

/* html {
	font-size: 100%;
} */

* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

body {
	margin: 0;
}

.outer {
	background-color: yellow;
	width: 50%;
	border: 10px solid red;
	overflow: auto;
	padding: 20px;
	float: none;
}

/*
.my-div {
	background-color: blue;
	color: white;
	font-size: 1.5rem;
	box-sizing: border-box;
	width: 80%;
	height: 80%;
	padding: 2em;
} */

/* .my-div p {
	margin: 0;
} */

/* .my-img {
	position: fixed;
	top: 100px;
	left: -100px;
	right: 0;
	bottom: 0;
} */


.navbar {
	background-color: black;
	padding: 1.3rem 2rem;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.navbar h2 {
	margin: 0;
	color: white;
}

.my-img {
	margin-top: 100px;
}


.font-bold {
	font-size: 700;
}
